@import '~antd/dist/antd.css';

.App {
  min-height: 100vh;
  background-color: #fff;
}

.inner-container {
  text-align: center;
  padding-top: 1.5em;
}

.navigator {
  /* width: 1490px; */
  /* margin: auto; */
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-button {
  margin: 0 24px;
  width: 120px;
}

.nav-button a {
  text-decoration: none;
}